body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('../../assets/library.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.main-content {
  padding: 150px 140px;
  color: white;
}

.main-content div {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main-content span {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.main-content a {
  text-decoration: none;
  color: white;
  background-color: var(--header-button-bg-color);
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 17px;
}