body {
  background-color: var(--library-bg-color);
}

/* EMPTY STYLES */

.empty {
  padding: 70px 70px;
  display: grid;
  grid-template-columns: 700px 550px;
  color: var(--library-div-bg-color);
  filter: blur(5px);
}

.empty .left {
  padding-top: 50px;
}

.left .title {
  width: 600px;
  margin-bottom: 20px;
}

.title span {
  font-size: 70px;
  font-weight: bold;
}

.left .description {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.description span {
  font-size: 20px;
  margin-bottom: 30px;
}

.description button {
  color: white;
}

.empty .right {
  position: relative;
}

.right img {
  height: 500px;
}

.right .question-mark {
  transform: rotate(10deg);
  height: 100px;
  position: absolute;
  z-index: 500;
  bottom: 110px;
  left: 0;
  filter: invert(15%) sepia(100%) saturate(150%) hue-rotate(10deg);
}

/* FORM MODAL STYLES */
.modal {
  background-color: var(--library-div-bg-color);
  color: white;
  position: absolute;
  top: 20%;
  left: 36%;
  padding: 20px 30px 30px 30px;
  z-index: 999;
  border-radius: 10px;
}

.top {
  float: right;
}

.top img {
  height: 30px;
  filter: invert(100%);
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  margin-bottom: 20px;
}

.modal-title span {
  font-size: 20px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 15px;
}

.form input {
  padding: 10px 20px;
  width: 300px;
  border-radius: 20px;
  border: none;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--header-button-bg-color);
  color: white;
  font-size: 15px;
  margin-top: 10px;
}