* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-button-bg-color: #E65910;
  --library-text-color: #1A1715;
  --library-bg-color: #E6E2DF;
  --library-div-bg-color: #2E231C;
  --subtext-color: #AFAFAF;
}

html, body {
  font-family: 'Open Sans';
  height: 100vh;
}

button {
  background-color: var(--header-button-bg-color);
  border: none;
  font-family: 'Open Sans';
  cursor: pointer;
  font-weight: 600;

}

.page-button {
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 17px;
}